auto-install-peers = true
# fetch-retry-maxtimeout = 6000000
# fetch-retry-maxtimeout=30000
# fetch-retry-mintimeout=3000
# fetch-timeout=6000
# fetch-retry-factor=10
# fetch-retries=15
# strict-ssl=false
# ca=null
# maxsockets=1
# ; offline=true // deprecated alias of next line
# cache-min=9999
# ; next line use as flag at install command
# prefer-offline=true